* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
}

/* HERO SECTION */
.hero {
    background: #0a3d62;
    min-height: 100vh;
    padding: 80px 40px;
    color: white;
}

/* TEXT CONTENT */
.hero-content {
    max-width: 900px;
    margin-bottom: 50px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.slogan {
    font-size: 1.6rem;
    font-weight: bold;
}

.tagline {
    font-size: 1.1rem;
}

.tagline.sw {
    font-style: italic;
    margin-bottom: 10px;
}

/* IMAGE ROW */
.hero-images {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-images img {
    width: 450px;
    border-radius: 10px;
}
/* Slogan Styling */
.main-slogan{
  font-weight:800;
  line-height:1.2;
  margin-bottom:18px;
}

.slogan-luo{
  display:block;
  font-size:2.4rem;
  font-weight:800;
}

.slogan-sw{
  display:block;
  font-size:1.6rem;
  font-weight:700;
  margin-top:6px;
}

.slogan-en{
  display:block;
  font-size:1.4rem;
  font-weight:600;
  margin-top:4px;
  opacity:0.95;
}

